<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cherubin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SemperActivity" >
        </activity>
        <activity android:name=".GeschichteActivity" >
        </activity>
        <activity android:name=".NeueSynagogeActivity" >
        </activity>
        <activity android:name=".AlteSynagogeActivity" >
        </activity>
        <activity android:screenOrientation="landscape" android:name=".TestEnvironment_Android_2" >
        </activity>
        <activity android:name=".QuellenActivity" />
    </application>

</manifest>